.checkboxes-wrapper {
    border: 2px solid black;
    margin-left: 24%;
    margin-right: 24%;
    background-color: white;
}

/* Add a media query for mobile devices */
@media (max-width: 1200px) { /* Adjust the max-width as needed */

    .checkboxes-wrapper {
        border: 1px solid black;
        margin-left: 5%;
        margin-right: 5%;
    }

    .form-checkbox {
        transform: scale(0.5);
    }

    .form-label {
        font-size: 0.5rem;
    }
}