.playerSearcher {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10%; /* Add space between items */
  }

  .results-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 22%; /* Add space between items */
  }
  
  /* Add a media query for mobile devices */
  @media (max-width: 1000px) { /* Adjust the max-width as needed */
  
    .player-pic {
      width: 20%;
    }

    .player-pic2 {
        width: 50%;
      }

      .playerSearcher {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 5%; /* Add space between items */
        padding-left: 2%;
        padding-right: 2%;
        font-size: 1rem;
      }

      .form-label {
        font-size: 0.8rem;
      }

      .form-input {
        width: 50%;
      }

      .results-wrapper {
        font-size: 0.8rem;
      }
  }