.player-searcher {
    margin: 10px;
    border: 2px solid black;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    max-width: 1000px;
    min-width: 660px;
}

.form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.form-label {
    font-size: 1.2rem;
    margin-top: 5px;
}

.form-input {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
}

.submit-button {
    font-size: 1.2rem;
    width: 40%;
    margin-top: 5px;
}

.results-wrapper {
    width: 90%;
    margin-top: 10px; 
    margin-bottom: 10px; 
    /* margin-left: 2%; */
}

.results {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size: 1.2rem;
}

.player-pic2 {
    margin-top: 5px;
    width: 60%; 
    height: auto;
}

.stats-results {
    margin: 0;
    padding: 0;
}

.stats-headings {
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
}

.search-dropdown {
    position: absolute;
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    margin-left: 4%;
    flex-direction: column;
    align-items: center;
    width: 14%;
}

.search-item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-item:hover {
    background-color: #f0f0f0;
}


/* Add a media query for mobile devices */
@media (max-width: 1200px) { /* Adjust the max-width as needed */

    .player-searcher {
        margin: 5px;
        max-width: 550px;
        min-width: 500px;
    }

    .player-pic {
        width: 20%;
    }

    .player-pic2 {
        width: 50%;
    }

    .intro-text {
        font-size: 0.8rem;
    }

    .form-label {
        font-size: 0.6rem;
    }

    .form-input {
        font-size: 0.6rem;
        width: 60%;
    }

    .submit-button {
        font-size: 0.4rem;
        border: 1px solid black;
        padding-bottom: 0;
        margin-bottom: 5px;
    }

    .results-wrapper {
        width: 90%;
        margin-top: 5px; 
        margin-bottom: 0px; 
        /* margin-left: 2%; */
    }

    .results {
        font-size: 0.6rem;
        margin-bottom: 5px;
        border: 1px solid black;
    }

    .stats-headings {
        font-size: 0.4rem;
    }

    .search-dropdown {
        width: 30%;
        margin-left: 11%;
    }
}


/* Add a media query for small devices */
@media (max-width: 1000px) { /* Adjust the max-width as needed */

    .player-searcher {
        margin: 5px;
        max-width: 350px;
        min-width: 300px;
    }

    .search-dropdown {
        width: 27%;
        margin-left: 8%;
    }
}

/* Add a media query for small devices */
@media (max-width: 800px) { /* Adjust the max-width as needed */

    .player-searcher {
        margin: 5px;
        max-width: 280px;
        min-width: 220px;
    }
}

/* Add a media query for small devices */
@media (max-width: 600px) { /* Adjust the max-width as needed */

    .player-searcher {
        margin: 5px;
        max-width: 230px;
        min-width: 180px;
    }
}