.fixtures-table {
  table-layout: fixed;
  width: 100%;
}

.fixtures-table td {
  width: 20%;
  text-align: center;
  padding: 10px;
}

.table-header {
  background-color: rgba(188, 187, 187, 0.85);
}

.FDR-column {
  width: 5%
}

.cards {
    display: flex;
    justify-content: left;
    color: black;
    font-size: 1.5em;
    border: 5px solid black; /* border here */
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word; 
  }

  .team-name {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
    overflow-wrap: break-word; 
  }

  .team-badge {
    height: 100px; /* Adjust the size as needed */
    margin-top: 8px; /* Add margin to separate the badge from the team name */
  }

  .fixture-badge {
    height: 80px; /* Adjust the size as needed */
    margin-top: 10px; /* Add margin to separate the badge from the team name */
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    background-color: white;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
  }


  .difficulty-1 {
    background-color: rgb(96, 251, 96)
  }

  .difficulty-2 {
    background-color: rgb(179, 251, 208)
  }

  .difficulty-3 {
    background-color: rgb(249, 249, 203)
  }

  .difficulty-4 {
    background-color: rgb(255, 177, 128)
  }

  .difficulty-5 {
    background-color: rgb(250, 178, 178)
  }


