button.active {
  background-color: #04fe0c;
  border: 3px solid rgb(0, 0, 0);
  font-weight: bold;
}

.table {
    border: 3px solid rgb(0, 0, 0); /* table border here */
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}

button {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 1.5rem;
}

.gameweek-dropdown select {
    padding: 10px;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    border:3px solid #000000;
    margin-bottom: 10px;
  }


 /* MOBILE */
 @media (max-width: 1000px) { 
  
    .gameweek-dropdown select {
      width: 70%;
      font-size: 1rem;
      border-radius: 4px;
      border:2px solid #000000;
      margin-bottom: 5px;
      padding: 3px;
    }

    button {
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 0.8rem;
  }
    
  }
