.app {
  text-align: center;
  color: black;
  background-color: rgb(111, 190, 111);
  padding-bottom: 20px;
}

.app-header {
  font-size: x-large;
  padding-top: 2px;
}

.sub-heading {
  font-size: larger;
  padding-left: 10%;
  padding-right: 10%;
}

.cards {
margin-top: 10px;
}


