.app {
  text-align: center;
  color: black;
  background-color: rgb(143, 175, 143);
}

.app-header {
  font-size: x-large;
  padding-top: 2px;
}

.sub-heading {
  font-size: larger;
  padding-left: 10%;
  padding-right: 10%;
}


