.app-header {
    font-size: x-large;
    padding-top: 2px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .sub-heading {
    font-size: large;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .oracle-fpl-image {
    width: 40%;
  }

  /* Add a media query for mobile devices */
@media (max-width: 1000px) { /* Adjust the max-width as needed */

  .app-header{
    font-size: small;
    padding-left: 2%;
    padding-right: 2%;
  }

  .sub-heading{
    font-size: 0.8rem;
    padding-left: 5%;
    padding-right: 5%;
  }

}


/* SMALL MOBILE */
@media (max-width: 420px) { 

.sub-heading{
  font-size: 0.7rem;
  padding-left: 5%;
  padding-right: 5%;
}

.app-header{
  font-size: x-small;
  padding-left: 2%;
  padding-right: 2%;
}

}
