.sub-heading {
    font-size: large;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .intro-details {
    margin-top: 10px;
  }

  
  /* Add a media query for mobile devices */
@media (max-width: 1000px) { /* Adjust the max-width as needed */

  .sub-heading{
    font-size: 0.8rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}


/* SMALL MOBILE */
@media (max-width: 420px) { 

  .sub-heading{
    font-size: 0.7rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}