.player-pics {
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.search-sub-heading {
    font-size: large;
    margin-top: 1px;
    margin-bottom: 5px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
  }

p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media (max-width: 1600px) {
  .player-pics {
    margin-left: 5%;
    margin-right: 5%;
  }
}

  
@media (max-width: 1000px) { 
  .search-sub-heading{
    font-size: 0.6rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }

  p {
    font-size: 0.6rem;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}


/* SMALL MOBILE */
@media (max-width: 420px) { 

  .search-sub-heading{
    font-size: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
  }
}