  .fixture-sub-heading {
    font-size: large;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
  }


  /* Add a media query for mobile devices */
@media (max-width: 1000px) { /* Adjust the max-width as needed */

  .sub-heading{
    font-size: 0.8rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}


/* SMALL MOBILE */
@media (max-width: 420px) { 

  .sub-heading{
    font-size: 0.7rem;
    padding-left: 5%;
    padding-right: 5%;
  }
}
