.player-searcher {
    border: 2px solid black;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 10px;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.form-label {
    font-size: 1.2rem;
    margin-top: 5px;
}

.form-input {
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
}

.submit-button {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 5px;
    margin-left:10px;
}

.results-wrapper {
    width: 90%;
    margin-top: 10px; 
    margin-bottom: 10px; 
}

.results {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
}

.player-pic2 {
    margin-top: 2px;
    width: 80%; /* Increased the size of the player picture */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stats-results, .stats-headings, .stats-paragraph {
    text-align: center;
    margin: 0;
    padding: 0;
}

.search-dropdown {
    position: absolute;
    top: 100%; /* Position it directly below the input field */
    left: 0; /* Align it to the left of the input field */
    z-index: 999; /* Ensure it appears above other content */
    background-color: white;
    border: 1px solid #ccc;
    max-height: 500px; /* Adjust height as needed */
    overflow-y: auto;
    width: 95%; /* Full width of the input-container */
    margin-top: 0px; /* Space between the input and dropdown */
}

.search-item {
    padding: 4px 0px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.search-item:hover {
    background-color: #f0f0f0;
}

.results-placeholder {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.input-container {
    position: relative; /* Allows the dropdown to position absolutely within this container */
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Desktop-specific styles */
@media (min-width: 1200px) {
    .results {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
    }

    .results-placeholder {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .player-pic2 {
        width: 30%; /* Larger size for desktop */
        margin-right: 2px;
        margin-left: 50px;
    }

    .stats-wrapper {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-top: 10px;
    }

    .stats-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
    }

    .stats-section, .stats-full-row {
        width: 100%;
        text-align: center; /* Center text in all sections */
        margin-bottom: 10px;
    }

    .single-stat {
        margin-top: 10px;
    }

    .stats-headings {
        font-size: 0.6rem;
    }

    .stats-results {
        font-size: 1.2rem;
    }

    .form {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .button-container {
        display: flex;
        justify-content: center; /* Centers the button horizontally */
        align-items: center; /* Centers the button vertically */
        height: 100%; /* Make the container take up the full height available */
    }
    
    .submit-button {
        width: 120px;
        margin-top: 17px;
    }
    
    
}

/* Mobile-specific styles */
@media (max-width: 1200px) {
    .player-searcher {
        margin: 5px;
        width: 90%;
    }

    .player-pic2 {
        width: 30%;
    }

    .intro-text, .form-label, .form-input, .submit-button, .results, .results-placeholder, .stats-headings {
        font-size: 0.6rem;
    }

    .form-input {
        margin-left: 0px;
    }

    .results-placeholder {
        padding-left: 30px;
        padding-right: 30px;
    }

    .submit-button {
        width: 60%;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .results-wrapper {
        width: 90%;
        margin-top: 5px;
    }

    .stats-paragraph, .stats-headings, .search-item {
        font-size: 0.4rem;
    }

    .stats-headings {
        margin-top: 5px;
    }

    .form {
        flex-direction: column; /* Revert to column layout on mobile */
        align-items: center;
    }

    .input-container {
        margin-right: 0px; /* Remove margin on mobile */
    }

    .submit-button {
        margin-top: 5px; /* Restore top margin on mobile */
        width: 100%;
    }
}

@media (max-width: 600px) {
    .search-dropdown {
        width: 27%;
        margin-left: 8%;
        max-height: 200px;
    }
}
