.top-10-sub-heading {
    font-size: var(--font-size-lg);
    margin: var(--spacing-sm) 9% var(--spacing-sm) 9%;
    background-color: var(--color-bg-secondary);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--radius-lg);
    border: 1px solid #000000;
    box-shadow: 0 2px 4px var(--color-shadow);
}

.player-pics {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 9%;
    margin-right: 9%;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 2px;
    border: 1px solid black;
}
  
.pics-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 2px;
}

.top-10-title {
    text-align: left; 
    font-size: 1.4rem; 
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 1%;
}

.player-pic-top-10 {
    width: 100%; 
    height: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    object-fit: contain;
}

.teams-page .player-pics-lists .pics-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
}

.teams-page .player-pics-lists .player-pic-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    flex-shrink: 0;
    margin: 0 6px;
}

.player-pics-lists .player-pic-top-10 {
    width: 100%; 
    height: auto;
    aspect-ratio: 1; /* Forces a square aspect ratio */
    margin: 1px 1px 2px 1px;
    overflow: hidden;
}

.top-10-sub-heading p {
    margin: 0;
    line-height: 1.6;
    color: var(--color-text-primary);
}

.team-pic-top-10 {
    height: 130px;
    margin: 2px 1px 3px 1px;
}

.teams-page .player-rank {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 1;
}

.teams-page .player-stat {
    font-size: 1rem;
    font-weight: 800;
    color: black;
    text-align: center;
    margin: 0;
}

.teams-page .player-stat-name {
    font-size: 1rem;
    color: black;
    text-align: center;
    margin: 0;
}

@media (max-width: 1600px) {
    .team-pic-top-10 {
        height: 100px;
    }
}

@media (max-width: 1400px) {
    .team-pic-top-10 {
        height: 90px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 5px;
    }
}

/* SMALL MOBILE */
@media (max-width: 420px) { 
  .top-10-sub-heading{
    font-size: var(--font-size-xs);
    padding: var(--spacing-xs);
    margin: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm);
  }
}
  
@media (max-width: 1200px) {
    .top-10-sub-heading {
        font-size: var(--font-size-sm);
        margin: var(--spacing-xs) 3% var(--spacing-xs) 3%;
        padding: var(--spacing-xs);
    }

    .top-10-title {
        font-size: 0.6rem;
        margin-bottom: 1px;
        margin-top: 1px;
        margin-left: 1%;
    }

    p {
        font-size: 0.6rem;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .player-pics {
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2px;
        margin-bottom: 5px;
        padding-top: 2px;
        padding-bottom: 1px;
    }

    .player-pics-lists .player-pic-top-10 {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .team-pic-top-10 {
        height: 80px;
    }

    .pics-wrapper {
        margin-bottom: 0px;
    }

    .teams-page .player-rank {
        font-size: 8px;
        padding: 1px 3px;
        top: 3px;
        left: 3px;
    }

    .teams-page .player-stat {
        font-size: 0.5rem;
        font-weight: 600;
    }

    .teams-page .player-stat-name {
        font-size: 0.5rem;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 3px;
        width: 108px;
    }
}

@media (max-width: 1000px) {
    .team-pic-top-10 {
        height: 70px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 2.5px;
        width: 90px;
    }
}

@media (max-width: 900px) {
    .team-pic-top-10 {
        height: 65px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 2px;
        width: 82px;
    }
}

@media (max-width: 800px) {
    .team-pic-top-10 {
        height: 60px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 2px;
        width: 72px;
    }
}

@media (max-width: 700px) {
    .team-pic-top-10 {
        height: 50px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 2px;
        width: 63px;
    }
}

@media (max-width: 600px) {
    .team-pic-top-10 {
        height: 45px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 1.5px;
        width: 54px;
    }
}

@media (max-width: 500px) {
    .team-pic-top-10 {
        height: 35px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 1px;
        width: 46px;
    }
}

@media (max-width: 800px) {
    .teams-page .player-rank {
        font-size: 6px;
        padding: 0px 1px;
        top: 1px;
        left: 1px;
        background-color: transparent;
        color: black;
    }

    .teams-page .player-stat-name {
        font-size: 0.35rem;
    }
}

@media (max-width: 450px) {
    .team-pic-top-10 {
        height: 30px;
    }

    .teams-page .player-rank {
        font-size: 5px;
        padding: 0px 0px;
        top: 0px;
        left: 0px;
    }

    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 1px;
        width: 41px;
    }
}

@media (max-width: 375px) {
    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 0.5px;
        width: 35px;
    }
}

@media (max-width: 320px) {
    .teams-page .player-pics-lists .player-pic-container {
        margin: 0 0px;
        width: 30px;
    }
}
