.player-pics {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 9%;
  margin-right: 9%;
  background-color: white;
  padding-top: 4px;
  padding-bottom: 2px;
}

.pics-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0%;
  margin-right: 0%;
}

.top-10-title {
  text-align: left; 
  font-size: 1.4rem; 
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
  margin-top: 4px;
  margin-left: 1%;
}


.player-pic-top-10 {
  width: 9.7%;
  height: auto; 
  margin-left: 1px;
  margin-right: 1px;
}

.player-pics-lists .pics-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.player-pics-lists .player-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9.7%;
  margin: 0 1px;
}

.player-pics-lists .player-pic-top-10 {
  width: 100%; 
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.player-stat {
  font-size: 1rem;
  color: black;
  text-align: center;
  margin: 0;
}

.search-sub-heading {
  background-color: white;
  margin-left: 9%;
  margin-right: 9%;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.search-sub-heading p {
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}


@media (max-width: 1600px) {
  .player-pics {
    margin-left: 3%;
    margin-right: 3%;
  }

  .search-sub-heading {
    margin-left: 5%;
    margin-right: 5%;
  }

  .player-comparison-tool {
    margin-left: 5%;
    margin-right: 5%;
  }

  .player-pics-form .player-pic-container {
    width: 12%;
  }
}

@media (max-width: 1200px) {
  .search-sub-heading {
    font-size: 0.6rem;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 3%;
    margin-right: 3%;
  }

  .player-comparison-tool {
    margin-left: 3%;
    margin-right: 3%;
  }

  .player-pics-form .player-pic-container {
    width: 18%;
  }

  p {
    font-size: 0.6rem;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .player-stat {
    font-size: 0.6rem;
  }
}

/* SMALL MOBILE */
@media (max-width: 420px) {
  .search-sub-heading {
    font-size: 0.5rem;
    padding-left: 3%;
    padding-right: 3%;
  }

  .player-pics-form .player-pic-container {
    width: 45%;
    margin-bottom: 10px;
  }
}
