.app {
  text-align: center;
  color: black;
  background-color: rgb(205, 225, 203);
  padding-bottom: 10px;
}

.cards {
margin-top: 10px;
}

.FPL-Stats {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}




